# レッスン３：Pythonの数値（Numbers＝ナンバーズ）

Pythonでは、数値は属されています。このレベルでは、二つのカテゴリーを紹介します：
1. Integer　＝　整数
2. Decimal Number　＝　十進数


それぞれのカテゴリーはPythonでこう呼ぶ：
1. 整数は「int」と示す。
2. 十進数は「float」と示す。

とても単純なコンセプトで、すぐ理解できるでしょう。
<br>それで、どうPythonで弁えるか？

In [ ]:
var_1 = 45
var_2 = 43.54

上の場合でしたら、見るだけで見分けできますね。上は「int」、下は「float」。

ですが、目で見えない場合、この下に示している「type」という機能を使えば、Pythonがその見分けをしてくれます。

次の例を見てください（print機能を使用して、結果が出る）：

In [ ]:
var_1 = 45
print(type(var_1))

var_2 = 45.
print(type(var_2))

var_3 = 43.54
print(type(var_3))

<class 'int'>
<class 'float'>
<class 'float'>

Pythonで十進法を元々変数に代入された数字に考慮されたら、自動的にintかfloatを弁えてくれます。
<br>var_2に示すように、ただ小数点を考慮したら、自動的に十進数になってしまいます。

**課題：下の欄に自分のvariableを作成し、type機能を使ってください**

In [ ]:
# この下から君のコードを初めてください。
var_4 = 
var_5 =
var_6 =

# 変数に代入したら、typeを確認ください。

type機能も数値以外が見分けできます。今まで勉強した機能も探知できます。

次示す例には、type機能でlistとstringを弁えます。例：

In [ ]:
list_1 = [1,2,3]
print(type(list_1))

string_1 = "STEMONホンゴ校"
print(type(string_1))

<class 'list'>
<class 'str'>

## データの操る：int、floatとstring。なぜそれぞれのタイプが大事。

Pythonで、int、floatとstringの中で、ある程度までtypeを変革できます。
<br>次の例に、Pythonでstringとして代入された変数は数字ではない。そのため、そのstringは計算に使えません。。

下の例をご覧ください。

In [5]:
string_2 = "34"
string_3 = "33"
# この下に上に代入された変数を足し算してみましょう
print(string_2 + string_3)

string_4 = "asumi"
string_5 = "Stemon"

print(string_4 + string_5)

3433
asumiStemon

結果は表示されたように、計算はしていませんでした。ただ二つのstringを張ってしてしまう状態になる。

そのstringをinteger(整数)に変えて、数学計算で使えるになります。次の例を見てください：

In [2]:
string_2 = "34"
string_3 = "33"
# まずこの変数のtypeを確認しましょう。確認しましょう。
print(type(string_2))
print(type(string_3))

<class 'str'>
<class 'str'>

In [3]:
# それで、このようにstringからint（整数）に変革できます。「int」とついでにカッコを使えば、それを達成できます。。
# すぐ変革されたstringを新しい変数へ代入します。
new_string_1 = int(string_2)
new_string_2 = int(string_3)

# new_string_1と2typeを確認しましょう
print(type(new_string_1))
print(type(new_string_2))

<class 'int'>
<class 'int'>

結果を見れば、以前stringだった変数はintとなりました。

そこで、
<br>**課題：stringから作った数値を計算してみましょう。**

In [ ]:
# この下から君のコードを書いてください。

さっき教えた機能はint()でstringをintegerに変えられます。

次は、この機能を学びましょう：
1. stringかintegerを**float（十進数）**に変える。
2. integerかfloatをを**string**へ変える。。

それぞれの機能を利用するとき、int()機能と似ていて、こう書きます：：
1. float(変革したいものをカッコに入れること)
2. str(変革したいものをカッコに入れること)

例を見てください。

In [11]:
# 例：
string_6 = "45.66"
print(string_6)
print(type(string_6))

# それで、string_6をfloatに変えます。
string_6 = float(string_6)
print(string_6)
print(type(string_6))

45.66
<class 'str'>
45.66
<class 'float'>

In [13]:
# 例：
float_2 = 44.78
print(float_2)
print(type(float_2))

float_2 = str(float_2)
print(float_2)
print(type(float_2))

44.78
<class 'float'>
44.78
<class 'str'>

**注意点：十進数を整数に変革してしまったら、データが変わってしまい、場合によって大問題になります。**

**少数が消えてしまいます**

次の例へご覧ください。

In [14]:
float_3 = 23.456
print(float_3)

float_3 = int(float_3)
print(float_3)

23.456
23

**注意点：floatとintを混ぜて計算していいですが、その二つをstringと数学計算できません**
<br>次の例をご覧ください

In [6]:
print(56 + "例　string")

TypeError: ignored

TypeErrorが出てきました。簡潔に言えば、このエラーははtypeが合わないためこうなってしまう。

ですが、floatとintの数値を追加したら、結果はfloatになります。例：

In [7]:
float_1 = 345.12
int_1 = 2

kekka = float_1 + int_1
print(kekka)
print(type(kekka))

347.12
<class 'float'>

## 最後の課題

ちゃんと馴染むため、次の欄にしたの箇条書きされた課題を順番に達成してください。
1. それぞれの変数のtypeを確認してprintしてください。
2. それで、先生が用意した変数を全て足し算を行ってください。
3. 最後の結果はstringとしてtypeを変革してください。

In [15]:
a = "989.44"
b = "56"
c = 45.64
d = 5

# この下から君のコードを書き始めてください